{% extends "base.html" %}
{%block linkcontent%}
<link href="{% static 'css/add_adward.css' %}" rel="stylesheet"
      type="text/css">{%endblock linkcontent%}
{%block content%}
<div class="formbox">
    <form class="formb">
        <div class="row fr">
            <div class="col-3">
                <a href="#" onclick="history.back();">Назад</a>
            </div>
            <div class="col-9">
                <span class="nadp">Добавления сертификата</span>
            </div>
        </div>

        <div class="form-group">
            <label for="InputName">Название мероприятия</label>
            <input type="text" class="form-control" id="InputFIO"
                   placeholder="Введите название мероприятия">
        </div>
        <div class="form-group">
            <select class="custom-select custom-select-lg mb-3">
                <option selected>Выберите категорию</option>
                <option value="Хакатон">Хакатон</option>
                <option value="Информационные технологии">Информационные
                    технологии
                </option>
                <option value="Математика">Математика</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Фото/скан сертификата</label>
            <input type="file" class="form-control-file" id="Photo">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
        <br/>
        <small>Достижение добавиться после верификация</small>
    </form>
</div>
{%endblock content%}