{% extends "base.html" %}
{%block linkcontent%}
<link href="{% static 'css/group.css' %}" rel="stylesheet"
      type="text/css">{%endblock linkcontent%}
{%block content%}
<div class="osnov">
    <a href="#" onclick="history.back();">Назад</a>
    <h1>Информационные технологии</h1>
    <div class="block">
        <span>Всероссийская олимпиада по информатике</span>
        <div class="photo">
            <img src="image/sert1.jpg" alt="">
        </div>
    </div>
    <div class="block">
        <span>Всероссийская олимпиада по информатике</span>
        <div class="photo">
            <img src="image/sert1.jpg" alt="">
        </div>
    </div>
</div>
{%endblock content%}