{% extends "base.html" %}
{%block linkcontent%}
<link href="{% static 'css/user_page.css' %}" rel="stylesheet"
      type="text/css">{%endblock linkcontent%}
{%block content%}
<div class="row profile">
    <div class="col-md-3">
        <div class="photo">
            <img src="image/test.jpg" alt="">
        </div>
    </div>
    <div class="col-md-9">
        <div class="info">
            <span>Горюшкина </span>
            <span>Татьяна</span>
            <span>Олеговна</span>
            <br/>
            <div class="pod-info">
                <span>Дата рождения: 05.02.2004</span><br/>
                <span>Родной город: Москва</span> <br/>
                <span>Учебное заведение: Школа №1158</span> <br/>
                <span>Сферы деятельности:  спорт, программирование, физика, математика, химия</span>
            </div>
        </div>
    </div>
</div>
<div class="portfolio">
    <div class="row justify-content-end">
        <div class="col-3">
            <a type="button" class="btn btn-info btn-lg navbar-text"
               href="add_adward">Добавить достижение</a>
        </div>
    </div>
    <div class="groups">
        <a href="group">
            <div class="group">
                <span>Информационные технологии</span>
                <div class="number">
                    <span>2</span>
                </div>
            </div>
        </a>
        <a href="group">
            <div class="group">
                <span>Математика</span>
                <div class="number">
                    <span>1</span>
                </div>
            </div>
        </a>
        <a href="group">
            <div class="group">
                <span>Хакатоны</span>
                <div class="number">
                    <span>4</span>
                </div>
            </div>
        </a>
    </div>
</div>
{%endblock content%}